* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191970;
  color: #fff;
}

nav {
  background-color: #008000;
}

nav ul li a:link,
nav ul link a:visited {
  color: #fff;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

nav ul li {
  list-style-type: none;
  font-weight: bold;
}
